* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-2) var(--scroll-bar-1);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  border-radius: 100px;
}

*::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: var(--scroll-bar-2);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--scroll-bar-2);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--scroll-bar-2);
}

*::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 100px;
  background-color: var(--scroll-bar-2);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-bar-2);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--scroll-bar-2);
}
